
GRUB_TIMEOUT=10
GRUB_DEFAULT=0
set timeout=${GRUB_TIMEOUT}

set path="/boot"

set os32="i686"
set os64="x86_64"

set partwindows=(hd0,1)
set partlinux=(hd0,2)

set labelwindows="wiesel-windows"
set labellinux="wiesel-linux"

set archversion="ARCH_201412"
set archiso="${path}/iso/archlinux.iso"

set cinnarchversion="CINNARCH_201212"
set cinnarchiso="${path}/iso/cinnarch.iso"

set ubuntuiso="${path}/iso/ubuntu32.iso"

#set fedoraversion="Fedora-18-i686-Live-Desktop.iso"
#set fedoraiso="${path}/iso/fedora.iso"

#set linuxmintiso="${path}/iso/linuxmint.iso"
#set freebsdiso="${path}/iso/freebsdcd.iso"

menuentry "Arch Persistent" {
    set part=${partlinux}
    set root=${part}
    set partlabel=${labellinux}
    linux ${path}/vmlinuz-linux root=LABEL=${partlabel} ro
    initrd ${path}/initramfs-linux.img
}

menuentry "Arch Live 64" {
    set part=${partlinux}
    set isofile=$archiso
    set partlabel=${labellinux}
    set os=${os64}
    loopback loop ${part}${isofile}
    linux (loop)/arch/boot/${os}/vmlinuz archisolabel=$archversion img_dev=/dev/disk/by-label/${partlabel} img_loop=$isofile earlymodules=loop
    initrd (loop)/arch/boot/${os}/archiso.img
}

menuentry "Arch Live 32" {
    set part=${partlinux}
    set isofile=${archiso}
    set partlabel=${labellinux}
    set os=${os32}
    loopback loop ${part}${isofile}
    linux (loop)/arch/boot/${os}/vmlinuz archisolabel=${archversion} img_dev=/dev/disk/by-label/${partlabel} img_loop=${isofile} earlymodules=loop
    initrd (loop)/arch/boot/${os}/archiso.img
}

menuentry "Ubuntu 14.10" {
    set part=${partlinux}
    set isofile=$ubuntuiso
    loopback loop ${part}${isofile}
    linux (loop)/casper/vmlinuz boot=casper iso-scan/filename=$isofile noprompt noeject quiet splash
    initrd (loop)/casper/initrd.lz
}

menuentry "Windows 8.1" {
    set part=${partwindows}
    insmod ntfs
    set root=${part}
    chainloader +1
}

#menuentry "CinnArch Live 32" {
#    set part=${partlinux}
#    set isofile=${cinnarchiso}
#    set partlabel=${labellinux}
#    set os=${os32}
#    loopback loop ${part}${isofile}
#    linux (loop)/arch/boot/${os}/vmlinuz archisolabel=${cinnarchversion} img_dev=/dev/disk/by-label/${partlabel} img_loop=${isofile} earlymodules=loop
#    initrd (loop)/arch/boot/${os}/archiso.img
#}

#menuentry "Fedora 18 32Bit" {
#    set part=${partlinux}
#    set isofile=${fedoraiso}
#    loopback loop ${part}${isofile}
#    linux (loop)/isolinux/vmlinuz0 root=live:$fedoraiso rootfstype=auto ro rd.live.image quiet  rhgb rd.luks=0 rd.md=0 rd.dm=0
#    initrd (loop)/isolinux/initrd0.img
#}

#menuentry "LinuxMint" {
#    set part=${partlinux}
#    set isofile=${linuxmintiso}
#    loopback loop ${part}${isofile}
#    linux (loop)/casper/vmlinuz  boot=casper iso-scan/filename=${isofile} quiet splash --
#    initrd (loop)/casper/initrd.lz
#}

