Um systemd zu verwenden einfach als Kernelparameter 

… init=/bin/systemd

angeben.

Bsp. (grub2):

menuentry “Arch Linux” {
    set root=(hd0,gpt1)
    linux /boot/vmlinuz-linux root=/dev/sda1 ro init=/bin/systemd
    initrd /boot/initramfs-linux.img
}
